spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
Keras==2.2.5
nltk==3.4.4
numpy==1.16.2
pandas==0.23.0
scikit-learn==0.20.3
scipy==1.2.1
tensorflow==1.15.4

